#panda_home{
    background: #f5f5f5;
    .home_header{
        background-color:#F8E273;
        .top{
            height: 86px;
            .sex{
                float:left;
                width: 116px;
                height: 62px;
                margin: 13px 25px;
                border-radius:30px 30px;
                background-color:#FFF9E1;
                span{
                    float:left;
                    width: 50px;
                    height: 50px;
                    border-radius:50%;
                    text-align:center;
                    line-height:50px;
                    margin:4px;
                }
                .active{
                    background-color:#ADD5F8;
                }
            }
            .home_search{
                overflow:hidden;
                position:relative;
                .search{
                    float:right;
                    width: 546px;
                    height: 74px;
                    border:0 none;
                    border-radius:20px 20px;
                    margin:8px 20px 0 0;
                    font-size:30px;
                    line-height:74px;
                    padding-left:60px;
                    color:#A3A2A7;

                }
                .zoom{
                    position:absolute;
                    display:block;
                    width: 40px;
                    height: 40px;
                    background:url("../../../assets/zoom.jpg") no-repeat;
                    left: 30px;
                    top:25px;
                }
            }
        }
        .bottom{
            height: 90px;
            clear:left;
            position:relative;
            .menu{
                position:absolute;
                background:#fff;
                top:0px;left:0px;
                width: 100%;
                z-index:1000;
                border-bottom:1px solid #ccc;
                p{
                    background:#F8E273;
                    text-align:center;
                    line-height:80px;
                    font-size:36px;
                    position:relative;
                    .del{
                        position:absolute;
                        display:block;
                        right:40px;
                        top:20px;
                    }
                }
                .list1{
                    overflow:hidden;
                    a{
                        text-align:center;
                        float:left;
                        width: 180px;
                        height: 150px;
                        margin-bottom:10px;
                        img{
                            margin:0 auto;
                            width: 96px;height: 96px;
                        }
                        span{
                            line-height:20px;
                            height:20px;
                        }
                    }
                }
            }
            .b_left{
                clear:left;
                float:left;
                width: 156px;
                text-align:center;
                position:relative;
                .line{
                    position:absolute;
                    right:0px;
                    top:25px;
                    color:#000;
                }
            }
            .b_center{
                float:left;
                width: 510px;
                height: 90px;
                position:relative;
                overflow:hidden;
                .list{
                    width: 1800px;
                    height: 90px;
                    position:absolute;
                    left:0px;
                    li{
                        float:left;
                        width:120px;
                        text-align:center;
                    }
                }
            }
            .b_right{
                float:right;
                width: 80px;
                height: 90px;
                position:relative;
                .menu{
                    display:block;
                    width: 42px;
                    height: 42px;
                    position:absolute;
                    left:20px;top:20px;
                    background:url("../../../assets/menu.jpg") no-repeat;
                }
            }
            span{
                display:inline-block;
                height: 90px;
                line-height:90px;
                color:#634811;
                cursor:pointer;
            }
            .active{
                color:#402200;
                font-weight:bold;
                border-bottom :5px solid #000;
            }

        }
    }
    .home_main{
        overflow-x:hidden;
        height: 1055px;
    }
}